
#book-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -2rem auto 1rem auto;
    width: 55vw;

    .button-icon {margin: 0 1rem;}

    .separator {
        border-bottom: 1px solid $color-border-container;
        flex-grow: 1;
    }
}

.tab {
    display: none;

    &.active {
        display: block;
    }
}

#book-slider {
    margin: 0 auto;
    width: 80vw;

    .slider-item {
        text-align: center;

        img {
            border: 5px solid $color-border-slider;
            max-height: 80vh;
            max-width: 80vw;
        }
    }

    #slider-control {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem;

        #center-button {
            margin: 0 2rem;
        }

        [data-glide-dir] {
            margin: 0.5rem 1rem;

            .button {padding: 1rem;}
        }
    }
}

#book-videos {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px;

    .video-wrapper {
        align-items: center;
        background: url('../img/bg_metal_silver.png');
        background-size: 400px 230px;
        display: flex;
        height: 230px;
        justify-content: center;
        margin: 1rem;
        width: 400px;
    }

    video {
        border: 2px solid $color-border-media;
        margin: 1rem auto;
    }
}

@media #{$media-medium}
{
    #book-videos {
        flex-direction: column;
        width: 100%;
    }
}

@media #{$media-small}
{
    #book-tabs {
        margin: 1rem auto 2rem auto;
        justify-content: center;

        .button-icon {margin: 0 1rem;}

        .separator {display: none;}
    }

    #book-videos {
        flex-direction: column;
        width: 100%;
    }
}
