
#book-glider-wrapper {
    border-left: 1px solid $color-border-container;
    border-right: 1px solid $color-border-container;
    margin: 0 auto;
    position: relative;
    width: 960px;

    .arrow {
        position: absolute;
        top: 40%;

        &.glider-prev {left: -5rem;}
        &.glider-next {right: -5rem;}
    }

    #book-glider {
        overflow: hidden;
        padding-top: 5rem;
        margin-top: -2rem;

        .glider-slide {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            padding-bottom: 1rem;

            &.left-1, &.right-1 {transform: translate(0, -50px);}
            &.left-2, &.right-2 {
                transform: translate(0, -200px);
                opacity: 0;
            }

            .picture-wrapper {
                align-items: center;
                background: url('../img/bg_note.png');
                background-size: 300px 315px;
                display: flex;
                flex-direction: column;
                height: 235px;
                padding-top: 80px;
                width: 300px;

                img {
                    border: 1px solid $color-border-media;
                    border-radius: 5px;
                    max-height: 160px;
                    max-width: 240px;
                }

                span {
                    color: $color-text-input;
                    margin-top: 1.5rem;
                    text-shadow: $text-shadow-dark;
                    text-transform: uppercase;
                }
            }
        }
    }
}

#book-glider-mobile {display: none;}

@media #{$media-medium}
{
    #book-glider-wrapper {
        width: 320px;

        #book-glider {
            padding-top: 1rem;
            margin-top: 0;

            .book-item {
                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
                &.left-1, &.right-1 {transform: none;}
            }
        }
    }
}

@media #{$media-small}
{
    #book-glider-wrapper {display: none;}

    #book-glider-mobile {
        align-items: center;
        display: flex;
        flex-direction: column;

        .book-item {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0.75rem;

            &:first-child {margin-top: 2rem;}

            img {
                max-width: 200px;
                border: 10px solid #fefefe;
            }

            span {
                padding: 0.5rem;
                font-weight: bold;
            }
        }
    }
}
