
/**********/
/* Layout */
/**********/

body {
    background-color: $color-background-default;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    line-height: 1.3rem;
    text-align: justify;
}

* {
    color: $color-text-default;
    margin: 0;
    padding: 0;
}

#page {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex-grow: 1;
    font-size: 1rem;
    margin: 0 auto;
    max-width : 1600px;
    padding: 0 1.5rem;
}

.center {
    margin: 0 auto;
    text-align: center;
}



/********************/
/* Content elements */
/********************/

h1 {
    color: $color-text-title;
    font-size: 2.1rem;
    line-height: 2.5rem;
    margin: 1rem 0 2rem 0;
    text-align: center;
}

a {
    color: $color-text-link;
//     cursor: pointer;
    outline: 0;
    text-decoration: none;
}

img {border: none;}



/*****************/
/* Form elements */
/*****************/

form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input, select, textarea, button {
    background-color: $color-background-input;
    border: 1px solid $color-border-input;
    border-radius: 0.5rem;
    color: $color-text-input;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
}

.button-icon {
    cursor: pointer;

    .icon i {
        transition: 0.3s ease-in-out;
        font-size: 3rem;
    }

    &:hover, &.active {
        .icon i {
            color: $color-text-active;
            text-shadow: $text-shadow;
        }
    }

    &[disabled], &.disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover .icon i {
            color: $color-text-default;
            text-shadow: none;
        }
    }
}

.field {
    padding: 0.5rem 0;

    label {
        display: inline-block;
        margin-right: 1rem;
        text-align: right;
        width: 110px;
    }

    .control {display: inline-block;}
}

.form-buttons {margin-top: 1.5rem;}



/**************/
/* Responsive */
/**************/

@media #{$media-large}
{
}

@media #{$media-medium}
{
    .container {margin: 0 1.0rem;}
}

@media #{$media-small}
{
    #header {
        height: auto;
        max-height: none;
        min-height: auto;
        padding: 0.5rem 0;
    }

    .container {margin: 0 0.5rem;}

    .field {
        label {
            display:block;
            margin-bottom: 0.3rem;
            margin-right: 0;
            text-align: left;
            width: auto;
        }
    }
}
