{#
Required :
- Book book : book to display.
- Slider slider : slider for current book.
- Video[] videos : videos for current book.
#}

{% extends "base.html.twig" %}

{% block body %}

    <div id="book-tabs">
        <span data-tab="tab-slider" class="button-icon" {{ slider ? '' : 'disabled' }}>
            <span class="icon"><i class="fas fa-camera"></i></span>
        </span>
        <span class="separator"></span>
        <span data-tab="tab-videos" class="button-icon" {{ (videos|length > 0) ? '' : 'disabled' }}>
            <span class="icon"><i class="fas fa-video"></i></span>
        </span>
    </div>

    {% if slider %}
    <div id="tab-slider" class="tab">
        {% include 'front/book/_slider.html.twig' %}
    </div>
    {% endif %}

    {% if videos|length > 0 %}
    <div id="tab-videos" class="tab">
        {% include 'front/book/_videos.html.twig' %}
    </div>
    {% endif %}

{% endblock %}
