<div id="header-wrapper">

    <div id="background"></div>

    <div id="header">
        <a href="{{ path('fo_home') }}">
            <img src="{{ asset('build/images/logo.svg') }}" alt="Thomas" />
        </a>
    </div>

</div>
