
#header {
    background: linear-gradient($color-background-header-1, $color-background-header-2);
    box-shadow: $box-shadow;
    font-size: 1rem;
    height: 110px;
    max-height: 110px;
    min-height: 110px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: center;

    a {
        img {
            transition: 0.3s ease-in-out;
            max-width: 30%;
        }

        &:hover img {
            transform: scaleY(1.2);
        }
    }
}
