<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Back Office{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/admin') }}
        {% endblock %}
    </head>
    <body>
        <div id="page">
            {% include 'back/_menu.html.twig' %}
            <div id="content" class="container">
                {% include 'back/_message.html.twig' %}
                {% block body %}{% endblock %}
            </div>
            {% include 'back/_footer.html.twig' %}
        </div>

        {# Bulma popup to display informations through modal window #}
        <div id="popup" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content box">
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('js/admin') }}
        {% endblock %}
    </body>
</html>
