<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Thomas{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body>
        <div id="page" class="tingle-content-wrapper">
            {% include 'front/_header.html.twig' %}
            <div class="container">
                {% block body %}{% endblock %}
            </div>
            <div id="footer">
                <a href="https://www.sitarium.com" target="_blank">{{ 'front.layout.footer'|trans }}</a>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
