{% if(app.session.flashbag.has('error')) %}
    <div class="has-text-centered has-text-danger">
    {% for message in app.session.flashbag.get('error') %}
        <p>{{ message }}</p>
    {% endfor %}
    </div>
{% endif %}
{% if(app.session.flashbag.has('warning')) %}
    <div class="has-text-centered has-text-warning">
    {% for message in app.session.flashbag.get('warning') %}
        <p>{{ message }}</p>
    {% endfor %}
    </div>
{% endif %}
{% if(app.session.flashbag.has('info')) %}
    <div class="has-text-centered has-text-success">
    {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
    {% endfor %}
    </div>
{% endif %}
