{% extends "base.html.twig" %}

{% block title %}{{ 'global.error'|trans }}{% endblock %}

{% block body %}

    <div class="center">

        <h1>{{ 'front.error.403.title'|trans }}</h1>

        <section class="margin-bottom">
            <p>{{ 'front.error.403.message'|trans }}</p>
        </section>

        <i class="fas fa-5x fa-lock"></i>

    </div>

{% endblock %}
